baseRefactoring.xml
colors.scheme.xml
databaseDrivers.xml
databaseSettings.xml
debugger.xml
diff.xml
duplocatorSettings.xml
editor.codeinsight.xml
file.template.settings.xml
filetypes.xml
find.xml
github.xml
gradle.run.settings.xml
ide.general.xml
IntelliLang.xml
log_highlighting.xml
notifications.xml
parameter.hints.xml
project.default.xml
proxy.settings.xml
fileTemplates/
inspection/
keymaps/
templates/
ui.lnf.xml
usageView.xml
vcs.xml
web-browsers.xml
xpath.xml
_mac/
_mac/laf.xml
_mac/keymap.xml
keymaps/Dylan.xml
